<div class="container px-0 px-md-3" style="margin-bottom: 42px;">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <ul class="list-group">
                <a href="#"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                   *ngFor="let story of stories">
                    <div>
                        <p class="mb-0">
                            <strong>{{story.title}}</strong>
                        </p>
                        <p class="text-muted mb-0">
                            <small>
                                {{story.score}} points by {{story.by}} {{story.time | msToHumanReadableTime}} ago
                            </small>
                        </p>
                    </div>
                    <span class="badge badge-primary badge-pill">{{story.descendants}}</span>
                </a>
            </ul>
            <button (click)="getNext()" class="btn btn-block btn-outline-primary border-0">
                Next
            </button>
        </div>
    </div>
</div>
