<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-header">
                    <div class="card-title">
                        About this Web App
                    </div>
                </div>
                <div class="card-body">
                    <p>
                        This web app is an experiment built for demo in
                    </p>
                    <ul>
                        <li>
                            I/O Extended Kuala Lumpur
                        </li>
                        <li>
                            I/O Extended George Town
                        </li>
                        <li>
                            I/O Extended Hanoi
                        </li>
                        <li>
                            I/O Extended Mekong
                        </li>
                    </ul>
                    <p>
                        Technologies used
                    </p>
                    <ul>
                        <li>Angular Framework</li>
                        <li>Web App Manifest</li>
                        <li>Workbox</li>
                        <li>Web Share API</li>
                    </ul>
                    <p>
                        Github:
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
